.git
.github
dist
objs
plans/artifacts

*.a
*.o
*.d

chromap
chromap_atac_spill_materializer
chromap_callpeaks
chromap_lib_runner
rapidmacs

third_party/rapidmacs/bin
third_party/rapidmacs/build
third_party/rapidmacs/lib
